*{
    margin: 0;
    padding:0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* //css variables are declared so then an be used againa and again */
:root{
    --color-primary: #443dc9;
    --color-success: #00bf8e;
    --color-warning: #f7934b;
    --color-danger: #c64420;
    --color-mycolor: hsl(272, 29%, 63%);
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #111a3b;
    --color-bg2: #070c56;
    --color-bg3: #050934;

    --container-width-lg: 84%; 
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background-color: white;
    opacity: 0.9;
        background-color: rgba(255, 255, 255, 0.5);
        background-color: #ffffff; 
        
        /* background-image: url(./image/istockphoto-1248705489-612x612.jpg); */
        align-items: center;
        filter: blur();

}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;


}
/* // 1 rem is 16 pixels */
section{
    padding: 3rem 0;

    
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
    color: #000;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
    color: #000;
}

h1{
    font-size: 2.4rem;
}
h2{
    font-size:2rem ;

}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
    color: var(--color-white);
}
a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;

}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);

}
.btn:hover{
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/*============NAV BAR====================*/
nav{
    background:#443dc9;
    width: 100vw;
    height: 80px;
    position: fixed;
    top:0;
    z-index: 11;

}
/*change navbar styles on scroll using javascript*/
.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;

}
.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav__menu a{
    font-size: 0.9rem;
    transition: all 400ms ease; /*to make transition of whne we hover around the nav better*/
}
.nav__menu a:hover{
    color: var(--color-primary);
}
/*============HEADER====================*/
header{
    position:relative;
    top: 2px;
    overflow:hidden;
    height: 60vh;
    margin-bottom: 7rem;
    margin-left: 10rem;
    
    

}
.header_container{
    resize: both;
        
        
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.resize {
    width: 700px;
    height: auto;
}

.resize {
    width: 500px;
    height: auto;
    
}
.header_left p{
    margin: 1rem 0 2.4rem;
    color: #000;
    font-size: 18px;
}
/*============Domains====================*/

.projects{
    background: var(--color-bg2);
    height: 40rem;
    

}
.projects h1{
    line-height: 1 ;
    margin-bottom: 3rem;
}
.project__container{
    display: grid;
    grid-template-columns: 33% 67%;
    gap: 4rem;
    margin-left: 10rem;
   

}
.project__left{
    margin-right: 1rem ;
    margin-left: 3rem;
}
.project__left h1{
    color: var(--color-white);
}
.project__right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;

}
.project{
    background: var(--color-bg3);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);

}
.project:hover{
    box-shadow:0 3rem 3rem rgba(0,0,0,0.3) ;
    z-index: 1;
}

.project:nth-child(2) .project__icon {

    background-color:var(--color-danger) ;
}
.project:nth-child(3) .project__icon {

    background-color:var(--color-success) ;
}
.project:nth-child(4) .project__icon {

    background-color:var(--color-warning) ;
}
.project:nth-child(5) .project__icon {

    background-color:var(--color-bg) ;
}
.project:nth-child(6) .project__icon {

    background-color:var(--color-mycolor) ;
}
.project__icon{
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}
.project h5{
    margin: 1rem 0 1rem;
    color: var(--color-white);
}
.project p{
    font-size: 0.85rem;
}
/*============PROJECT SYSTEMS====================*/

.systems{
    margin-top: 1rem;
    margin-left: 6rem;
    
}
.systems h2{
    color: var(--color-black);
}
.systems__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    
}
.system{
    background-color: var(--color-bg2);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.resize2{
    width: 410px;
    height: 270px;
}
.system__info{
    padding: 2rem;

}
.system__info p{
    margin: 1.2rem 0 1.2rem;
    font-size: 1.0rem;
}
.system:hover{
    background: rgb(45, 49, 140);
    border-color: var(--color-primary);
}

/*=========LOGIN PAGE====================*/
.center{
    height: 100%;
    width: 100%;

}/*=============footer==============*/
footer{
    background: var(--color-bg2);
    padding-top: 5rem;
    font-size: 0.9rem;


}
.footer__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/*=============DASHBOARD==============*/

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--color-bg);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.sidebar.open{
width: 250px;
box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}
.sidebar .logo-details{
height: 60px;
display: flex;
align-items: center;
position: relative;
}
.sidebar .logo-details .icon{
opacity: 0;
transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
color: #fff;
font-size: 20px;
font-weight: 600;
opacity: 0;
transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
opacity: 1;
}
.sidebar .logo-details #btn{
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
font-size: 22px;
transition: all 0.4s ease;
font-size: 23px;
text-align: center;
cursor: pointer;
transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
text-align: right;
}
.sidebar i{
color: #fff;
height: 60px;
min-width: 50px;
font-size: 28px;
text-align: center;
line-height: 60px;
}
.sidebar .nav-list{
margin-top: 20px;
height: 100%;
}
.sidebar li{
position: relative;
margin: 8px 0;
list-style: none;
}
.sidebar li .tooltip{
position: absolute;
top: -20px;
color: #000;
left: calc(100% + 15px);
z-index: 3;
background: #fff;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
padding: 6px 12px;
border-radius: 4px;
font-size: 15px;
font-weight: 400;
opacity: 0;
white-space: nowrap;
pointer-events: none;
transition: 0s;
}

.sidebar li:hover .tooltip{
opacity: 1;
pointer-events: auto;
transition: all 0.4s ease;
top: 50%;
transform: translateY(-50%);
}
.sidebar.open li .tooltip{
display: none;
}
.sidebar input{
font-size: 15px;
color: #FFF;
font-weight: 400;
outline: none;
height: 50px;
width: 100%;
width: 50px;
border: none;
border-radius: 12px;
transition: all 0.5s ease;
background: #1d1b31;
}
.sidebar.open input{
position: fixed;
padding: 0 20px 0 50px;
width: 100%;
}
.sidebar .bx-search{
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
font-size: 22px;
background: #1d1b31;
color: #FFF;
}
.sidebar.open .bx-search:hover{
background: #1d1b31;
color: #FFF;
}
.sidebar .bx-search:hover{
background: #FFF;
color: #11101d;
}
.sidebar li a{
display: flex;
height: 100%;
width: 100%;
border-radius: 12px;
align-items: center;
text-decoration: none;
transition: all 0.4s ease;
background: #11101D;
}
.sidebar li a:hover{
background: #FFF;
}
.sidebar li a .links_name{
color: #fff;
font-size: 15px;
font-weight: 400;
white-space: nowrap;
opacity: 0;
pointer-events: none;
transition: 0.4s;
}
.sidebar.open li a .links_name{
opacity: 1;
pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
transition: all 0.5s ease;
color: #11101D;
}
.sidebar li i{
height: 50px;
line-height: 50px;
font-size: 18px;
border-radius: 12px;
}
.sidebar li.profile{
position: fixed;
height: 60px;
width: 78px;
left: 0;
bottom: 120rem;
padding: 10px 14px;
background: #1d1b31;
transition: all 0.5s ease;
overflow: hidden;
}
.sidebar.open li.profile{
width: 250px;
}
.sidebar li .profile-details{
display: flex;
align-items: center;
flex-wrap: nowrap;
}
.sidebar li img{
height: 45px;
width: 45px;
object-fit: cover;
border-radius: 6px;
margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
font-size: 15px;
font-weight: 400;
color: #fff;
white-space: nowrap;
}
.sidebar li.profile .job{
font-size: 12px;
}
.sidebar .profile #log_out{
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
background: #1d1b31;
width: 100%;
height: 60px;
line-height: 60px;
border-radius: 0px;
transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
width: 50px;
background: none;
}

.sidebar.open ~ .home-section{
left: 250px;
width: calc(100% - 250px);
}
.home-section .text{
display: inline-block;
color: #11101d;
font-size: 25px;
font-weight: 500;
margin: 18px
}
@media (max-width: 420px) {
.sidebar li .tooltip{
    display: none;
}
}
.nav__menu i{
    font-size: 40px;
}

nav{
    background:#443dc9;
    width: 100vw;
    height: 80px;
    position: fixed;
    top:0;
    z-index: 11;

}
/*change navbar styles on scroll using javascript*/
.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;

}
.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav__menu a{
    font-size: 0.9rem;
    transition: all 400ms ease; /*to make transition of whne we hover around the nav better*/
}
.nav__menu a:hover{
    color: var(--color-primary);
}