<html>
    <head>
        <title>Web Courses online</title>
        <!--ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">


    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='research.css') }}">
        
    </head>
    <body>
        <nav>

            <div class="container nav__container">
                <a href="index.html"><h4>InnoVate</h4></a>
                <ul class="nav__menu">
                    {% if name %}
                    <ul>
                        <li><a href={{url_for("profile")}}><i class="uil uil-user-circle "></i></a></li>
                    </ul>
                    {%else%}
                    <li><a href={{url_for("login")}}>Login/Signup</a></li>
                    {% endif %}
                    <!-- <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="contact.html">Contact us</a></li> -->
            
                    <!-- <li><a href="templates/papers.html">Research Papers</a></li> -->
            
            
                </ul>
                <button id="open_menu_btn"><i class="uil uil-bars"></i></button>
                <button id="open_menu_btn"><i class="uil uil-multiply"></i></i></button>
                
            
            
            </div>
            </nav>
        <div class="sidebar">
            <div class="logo-details">
              
                <div class="logo_name">InnoVate</div>
                <i class='bx bx-menu' id="btn" ></i>
            </div>
            <ul class="nav-list">
              
              <li>
                <a href={{url_for("home")}}>
                  <i class='bx bx-grid-alt'></i>
                  <span class="links_name">Dashboard</span>
                </a>
                 <span class="tooltip">Dashboard</span>
              </li>
              <li>
               <a href={{url_for("profile")}}>
                 <i class='bx bx-user' ></i>
                 <span class="links_name">Profile</span>
               </a>
               <span class="tooltip">Profile</span>
             </li>
             <li>
               <a href=aboutus.html>
                 <i class='bx bx-chat' ></i>
                 <span class="links_name">About us</span>
               </a>
               <span class="tooltip">About us</span>
             </li>
             <li>
               <a href={{url_for("research")}}>
                 <i id = "research" class="uil uil-search-alt"></i>
                 <span class="links_name">Research papers</span>
               </a>
               <span class="tooltip">Research papers</span>
             </li>
             <li>
               <a href={{url_for("project")}}>
                 <i class='bx bx-folder' ></i>
                 <span class="links_name">Project Catalog</span>
               </a>
               <span class="tooltip">Project Catalog</span>
             </li>
             <li>
               <a href={{url_for("hack")}}>
                  <i id = "research" class="uil uil-desktop"></i>
                 <span class="links_name">Hackathons</span>
               </a>
               <span class="tooltip">Hackathons</span>
             </li>
             <li>
               <a href={{url_for("udemy")}}>
                  <i id = "research" class="uil uil-book-open"></i>
                 <span class="links_name">Courses</span>
               </a>
               <span class="tooltip">Courses</span>
             </li>
             <li>
               <a href={{url_for("blogs_post")}}>
                  <i id = "research" class="uil uil-files-landscapes-alt"></i>
                 <span class="links_name">Blogs</span>
               </a>
               <span class="tooltip">Blogs</span>
             </li>
             <li>
              <a href={{url_for("cards")}}>
                  <i id = "research" class="uil uil-users-alt"></i>
                <span class="links_name">Faculty</span>
              </a>
              <span class="tooltip">Faculty</span>
            </li>
            <li>
              <a href={{url_for("upload")}}>
                  <i id = "research" class="uil uil-upload"></i>
                <span class="links_name">Upload</span>
              </a>
              <span class="tooltip">Upload</span>
            </li>
             <li class="profile">
                 <div class="profile-details">
                   <!--<img src="profile.jpg" alt="profileImg">-->
                   <div class="name_job">
                     <a href="{{ url_for('logout') }}">Logout</a>
                   </div>
                 </div>
                 <i class='bx bx-log-out' id="log_out" ></i>
             </li>
            </ul>
          </div>
  
          <section class="home-section">
              <div class="text"></div>
          </section>
          <script>
          let sidebar = document.querySelector(".sidebar");
          let closeBtn = document.querySelector("#btn");
          let searchBtn = document.querySelector(".bx-search");
        
          closeBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
          });
          searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
              sidebar.classList.toggle("open");
              menuBtnChange(); //calling the function(optional)
          });
          // following are the code to change sidebar button(optional)
          function menuBtnChange() {
              if(sidebar.classList.contains("open")){
              closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
              }else {
              closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
              }
          }
      </script> 
        <div class="paper">
            <h1>Web Courses</h1><br></br>
            <p> Welcome to our page dedicated to helping students find free online web courses
            </p>
        </div>
        <a href={{ url_for('home_login') }}>Home</a>
        <form method="post" action="/web.html">
            <label for="options">Select an option:</label>
            <select name="options" id="options">
                <option value="accounting">Accounting</option>
                <option value="coding">Coding</option>
                <option value="web+development">Web Development</option>
                <option value="web+design">Web Design</option>
                <option value="artificial+intelligence">Artificial Intelligence</option>
                <option value="microsoft+excel">Microsoft Excel</option>
                <option value="python">Python</option>
                <option value="power+bi">Power BI</option>
                <option value="r">R</option>
                <option value="sql">SQL</option>
                <option value="blockchain">Blockchain</option>
                <option value="cybersecurity">CyberSecurity</option>
                <option value="full+stack+web+development">Full Stack Web Development</option>
                <option value="java">Java</option>
                <option value="software+engineering">Software Engineering</option>
                <option value="project+management">Project Management</option>
                <option value="ux+design">UX Design</option>
                <option value="ux+research">UX Research</option>
            </select>
            <button id="web-btn" type="submit"><i class="uil uil-search"></i></button>
        </form>
        {% if results %}
        <div class="content">
            <ul> 
                {% for result in results %}
                <div class="webeach-line">
                    
                    <img class="resize3" src={{ result.img }} >
                    <li><br><a  href="{{ result.url }}" target="_blank">{{ result.title }}</a></li>
                    <p>{{ result.desc }}</p>
                </div>
                {% endfor %}
            </ul>
        {% endif %}
        {% if courses %}
        <div class="content">
            <ul> 
                {% for course in courses %}
                <div class="each-line">
                  <img class="resize3" src={{ course.img }} >
                    <li class="li" ><br><a  class="a" href="{{ course.url }}" target="_blank">{{ course.title }}</a></li>
                    
                </div>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    </body>
</html>